body{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 500px) and (min-width: 200px) 
{
    body
    {
        background-color: aqua;
    }    

    nav
    {
        background-color: black;
        width: 100%;
        height: 12vh;
    }
}

@media screen and (max-width: 700px) and (min-width: 501px)
{
    body
    {
        background-color: blueviolet;
    }
}

@media screen and (max-width: 990px) and (min-width: 701px)
{
    body
    {
        background-color: cadetblue;
    }
}

@media screen and (max-width: 1200px) and (min-width: 991px)
{
    body 
    {
        background-color: crimson;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1201px)
{
    body 
    {
        background-color: cornflowerblue;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1501px)
{
    body 
    {
        background-color: darkcyan;
    }
}

@media screen and (max-width: 2200px) and (min-width: 1801px)
{
    body 
    {
        background-color: darkmagenta;
    }
}

@media screen and (max-width: 2500px) and (min-width: 2201px)
{
    body 
    {
        background-color: darkslateblue;
    }
}

@media screen and (max-width: 3000px) and (min-width: 2501px)
{
    body 
    {
        background-color: deeppink;
    }
}